@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular-slnt=0.ttf');
  font-variant: normal;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter';
}

.hero-outer-wrapper {
  margin: 3.5rem 10.5rem 0 8rem;
}

.header {
  display: flex;
  position: sticky;
}

.logo-box {
  margin-left: 11rem;
}
.logo {
}
.nav {
  margin-left: auto;
  margin-right: 4.5rem;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__list-item {
  margin-left: 3.5rem;
}
.nav-list-item {
}
.nav-list-item__link {
}
.nav__cta {
}
.nav__btn {
}
.btn {
}
.btn-primary {
}
.btn-primary--active {
}
.contnet-wrapper {
}
.hero-section {
}
.row {
}
.col {
}
.hero-section__title {
}
.heading-primary {
}
.hero-section__cta {
}
.holiday-finder-block {
}
.holiday-finder-block__title {
}
.heading-secondary {
}
.holiday-finder-block__filters {
}
.hero-section__link {
}
.hero-section__art {
}
.section-info {
}
.section-info__art {
}
.section-info__explore-block {
}
.explore-block {
}
.explore-block__title {
}
.explore-block__text {
}
.explore-block__link {
}
.featured-section {
}
.featured-section__header {
}
.featured-section-header {
}
.featured-section-header__title {
}
.featured-section-header__link {
}
.featured-section__carts {
}
.featured-cart {
}
.featured-cart__meta {
}
.featured-cart-meta {
}
.featured-cart-meta__title {
}
.featured-cart-meta__text {
}
.guides-section {
}
.guides-section__guide-block {
}
.guide-block {
}
.guide-block__title {
}
.heading-primaryGuides {
}

.guides-section__art {
}
